<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset="utf-8">
    <title>Front SNS</title>
    <meta name="description" content="'Front SNS' is a frontend service for SNS.">
    <meta name="author" content="KrdLab">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src='/socket.io/socket.io.js'></script>
    <script src="/javascripts/jquery-1.6.4.min.js"></script>
    <script src='/javascripts/frontsns.js'></script>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <div class="container">

      <div class="hero-unit">
        <div class="input">
          <textarea class="xxlarge" name="user_message" id="user_message" rows="3"></textarea>
        </div>
        <p><a id="user_post" class="btn primary mideum" href="#">Post</a></p>
      </div>

      <ul id="service_tabs" class="tabs">
        <li class="active"><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Google+</a></li>
      </ul>

      <div class="row">
        <div class="span8" id="main_line">
        <% if (!session.selected_service || session.selected_service === 'twitter') { %>
          <% if (session.twitter) { %>
          <h2><%= session.twitter.info.screen_name %></h2>
          <div>
            <select name="selected_line" id="selected_line">
              <option>home</option>
              <option>reply</option>
              <option>message</option>
            </select>
            <a id="signout" class="btn small" href="#">signout</a>
          </div>
          <ul id="home_timeline"></ul>
          <% } else { %>
          <a href="/auth/twitter"><img src="/images/twitter/sign-in-with-twitter-d.png" /></a>
          <% } %>
        <% } else if (session.selected_service === 'facebook') { %>
          <a class="btn primary" href="/auth/facebook">sign up with facebook</a>
        <% } %>
        </div>
        <div class="span8">
          <h2>Media</h2>
          <p>TODO</p>
        </div>
      </div>

      <footer>
        <p>&copy; KrdLab 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
